<div class="main-box"> 
  <div class="section-1">
    <button *ngFor="let user of users" (click)="getUserDetails(user)">
      {{ user.name }}
    </button>
  </div>
  <div class="section-2">
  <div class="box-1">
    App component (same component)
    <p>directly from method</p>
    <br />
    <div *ngIf="userDetails">
      Id: {{userDetails.id}} <br>

      name: {{ userDetails.name }}
      <br />
      email: {{ userDetails.email }}
    </div>
  </div>

  <div class="box-2">
    Component 1: Different component
    <p>using @input</p>
    <app-comp1 [userDetails]="userDetails"></app-comp1>
  </div>

  <div class="box-3">
    Component 2: Different component
    <p>using router</p>
    <router-outlet></router-outlet>
  </div>
</div>

</div>
