.main-box {
  display: flex;
  flex-direction: row;
  margin: 40px;
}

.section-1 {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-right: 60px;
  padding: 40px;
}

button {
  width: 180px;
}

.section-2 {
  display: flex;
  gap: 10px;
  flex-direction: row;
  margin-top: 100px;
  margin-bottom: 10px;
}

.box-1 {
  border: 1px solid;
  width: 240px;
  height: 200px;
  padding: 15px;
}

.box-2 {
  border: 1px solid;
  width: 240px;
  height: 200px;
  padding: 15px;
}

.box-3 {
  border: 1px solid;
  width: 240px;
  height: 200px;
  padding: 15px;
}

.box-4 {
  border: 1px solid;
  width: 240px;
  height: 200px;
  padding: 15px;
}

.box-5 {
  border: 1px solid;
  width: 240px;
  height: 200px;
  padding: 15px;
}


.parent-child{
  display: flex;
    gap: 10px;
}